body {
    margin: 0;
    font-family: JetBrains Mono;
    background-color: #F5F5EF;
    color: #2E2E2E;
  }
  
  .container {
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  
  .navBar {
    background-color: #4e7a73;
  }
  
  .navBar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .navBar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .navBar a:hover {
    color: #89e687;
    padding: 10px;
    background-color: #2F4F4F;
  }

  .content {
    display: flex;
    padding: 10px;
    gap: 10px;
  }

  .contentLeft {
    width: 30%;
    background-color: #A3B18A;
    padding: 10px;
    border-radius: 10px;
  }

  .contentRight {
    width: 70%;
    background-color: #DAD7CD;
    padding: 15px;
    border-radius: 15px;
  }

  footer {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    padding: 10px;
  }

  caption {
    caption-side: top;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    background-color: #A3B18A;
    color: white;
  }

  thead {
    background-color: #DAD7CD;
  }

  td {
    padding: 25px;
    border-width: 5px;
    text-align: center;
    border-bottom: 1px solid #DAD7CD;
  }
  
  th {
    background-color: #DAD7CD;
    color: #2F4F4F;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2E2E;
    color: white;
    padding: 10px 20px;
  }
  
  .left, .right {
    flex: 1;
  }
  
  .center {
    text-align: center;
    font-size: 20px;
  }
  
  .ultimas {
    text-decoration: none;
  }
  
  .parpadeo {
    animation: parpadeo 1s infinite;
  }
  
  @keyframes parpadeo {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  .currentPage {
    margin: 0px;
    padding: 10px;
    background-color: #2F4F4F;
  }

.winner {
  color: green;
}

.loser {
  color: crimson;
}

.deportesContainer {
  gap: 20px;
  padding: 20px;
}

.videoContent {
  width: 20%;
  background-color: #A3B18A;
  padding: 10px;
  border-radius: 10px;
}

video {
  width: 300px;
}
